.vt-main--progress {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.vt-main {
  .vt-main--title {
    margin: 0;
    padding-bottom: 1.5em;
    color: #4a4a4a;
  }

  .vt-main-form--item {
    display: inline-block;
    width: 100%;
  }

  .vt-main-form--item {
    width: 100%;
  }

  .vt-main-form--spacing {
    padding-left: 10px;
  }
}